@import '../../styles/variables.scss';

.device-history {
  padding: 10px;
  font-family: Arial, sans-serif;
  height: 100%;
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .device-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .device-card {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: calc(50% - 10px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    h3 {
      margin: 0 0 10px;
      font-size: 18px;
      text-align: center;
      color: $dark-color;
    }

    ul {
      list-style: none;
      padding: 0;

      .location-item {
        display: flex;
        justify-content: space-between;
        background-color: $dark-color;
        margin: 5px 0;
        padding: 8px;
        border-radius: 4px;
        font-size: 14px;

        .time {
          font-weight: bold;
          color: rgb(199, 197, 197);
          flex: 1;
        }

        .coordinates {
          flex: 2;
          text-align: right;
          color: white;
        }
      }
    }
  }

  &.error {
    color: red;
    font-weight: bold;
  }
  .h2-under {
    margin-top: 30px;
  }

  .p-under {
    display: flex;
    background-color: $dark-color;
    justify-content: center;
    color: white;
    // font-weight: bold;
    border-radius: 4px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      background-color: #bed9d8;
      cursor: not-allowed;
    }
  }

  .button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .img-plot {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
  }
}
